body {
    margin:0px;
    font-family:"Montserrat", sans-serif;
    background-color: #f1e2159a;
}

:root {
  --color: #f1e315 ;
}
h2{
  font-size: 2rem;
}

header {
  width: 100%;
  height :fit-content;
  background-color :var(--color);
  font-size :1.5rem ;
  margin-bottom :10px ;
  text-align :center ;
}

.button{
    width: 160px;
    height: 60px;
    background-color:var(--color);
    font-size:1.2rem;
    color:black ;
    border: none;
    outline: none;
    border-radius: 30px 30px;

}
.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: fit-content;
    padding: 20px 20px;
    text-align :center ;
}

input {
   border-color: var(--color);
  width: 80%;
  height: 27px;
  margin-bottom :10px;
  padding: 10px ;
 border-style :solid ;
 border-width: 1px;
  outline: none;
    border-radius: 30px 0 30px 0;
    font-size :1.5rem ;
  
}
.body{  
  display: flex ;
  padding: 20px 20px ;
  flex-direction: column;
  margin-bottom:20px;
  
}
.subscribe {
  width :120px;
  height:50px ;
 
    background-color:var(--color);
    font-size:1.5rem;
    color:black ;
    border: none;
    outline: none;
    border-radius:0 30px 0 30px
}
.fontx{
  font-size: 2rem ;
  font-weight: bold;
  border-bottom-color: var(--color);
  border-bottom-width: 2px;
  border-bottom-style: solid ;
  width:fit-content ;
  margin: 0 auto ;
}

.offers{
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  
}
.fa {
  color: green;
}

li{
  list-style: none;
 margin-bottom :10px 
}
.contact {
  font-size :1.5rem ;
}

.fa-twitter {
  color :#3A68CB;
}
.fa-facebook {
  color :#3067E0;
}
.fa-telegram {
  color: #6888CF;
}