body {
    margin:0px;
    font-family:"Montserrat", sans-serif;
}

button{
    width: 160px;
    height: 60px;
    background-color: rgb(99, 13, 238);
    font-size: x-large;
    color:white;
    border: none;
    outline: none;
    border-radius: 0 20px 0 20px;

}
.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: palevioletred;
    align-items: center;
    width: fit-content;
    padding: 20px 20px;
}